
body {background-color: #515a6e;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
img {background-color: black;
     border-radius: 10px;
     border-style: solid;
}
img  {height: 300px;
     width: auto;
}