
body {background-color: #515a6e;}
img {background-color: black;
     border-radius: 10px;
     border-style: solid;
}
img {height: 300px;
     width: auto;
}
.header-section,h1 {text-align: center;}

