
body {
     margin-left: 35px;
     margin-right: 35px;
     align-content: center;
     background-color: #515a6e;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.profile-picture {
     display: block;
     margin-left: auto;
     margin-right: auto;
     height: 300px;
     width: auto;
     background-color: black;
     border-radius: 10px;
     border-style: solid;
     align-content: center;
}

h2 {
     text-align: center;
     font-size: xx-large;
}

.contact-me {text-align: center;}

.header {
     margin-right: auto;
     margin-left: auto;
     align-content: center;
     text-align: center;
}

.main-text {text-align: center;}

.coming-soon {
     height: auto;
     width: 300px;
     background-color: black;
     border-radius: 12px;
     border-style: solid;
     margin-bottom: 30px;

}

.My-Portfolio {
     font-size: x-large;
     background-color:black;
     border-radius: 50px;
     border-style: solid;
     margin-left: 700px;
     margin-right: 700px;
     align-content: center;
     color:ghostwhite;
}

a {
     font-size: x-large;
     text-align: center;
}
